* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* digit card's width */
  --fcc-digit-block-height: 64px; /* digit card's height */
  --fcc-digit-font-size: 46px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-background: #524a3f; /* digit card's background */
  --fcc-label-color: #524a3f; /* time label's color */
  --fcc-divider-color: #ffffff66; /* divider's color */
}

._2hRXr::before,
._2hRXr::after {
  background-color: #524a3f;
}
